<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-10 w-auto"
      src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500"
      alt="Your Company"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
    >
      {{ 'auth.log_in' | translate }}
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label
          for="identifier"
          class="block text-sm font-medium leading-6 text-white"
          >{{ 'auth.identifier' | translate }}</label
        >
        <div class="mt-2">
          <input
            formControlName="identifier"
            id="identifier"
            name="identifier"
            type="identifier"
            autocomplete="identifier"
            required
            class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
          />
        </div>
        <div *ngIf="displayErrors(loginForm, 'identifier')" class="alert">
          @for (error of getErrors(loginForm, 'identifier'); track error) {
          <span class="text-red-200 text-xs mt-2">{{
            'auth.validation.' + error | translate
          }}</span>
          }
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-white"
            >{{ 'auth.password' | translate }}</label
          >
        </div>
        <div class="mt-2">
          <input
            formControlName="password"
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
          />
        </div>
        <div *ngIf="displayErrors(loginForm, 'password')" class="alert">
          @for (error of getErrors(loginForm, 'password'); track error) {
          <span class="text-red-200 text-xs mt-2">{{
            'auth.validation.' + error | translate
          }}</span>
          }
        </div>
      </div>

      <div>
        <button
          [disabled]="!loginForm.valid"
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 disabled:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        >
          {{ 'auth.log_in' | translate }}
        </button>
      </div>
    </form>
  </div>
  <div class="mt-10  sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-600"></div>
      </div>
      <div class="relative flex justify-center  text-sm font-medium leading-6">
        <span class=" bg-gray-900 px-6 text-gray-400">{{'auth.continue_with' | translate}}</span>
      </div>
    </div>

    <div class="mt-6 grid grid-cols-2 gap-4">
      <a  (click)="socialSignIn('google')"  class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
        <svg class="h-5 w-5" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M12.0003 4.75C13.7703 4.75 15.3553 5.36002 16.6053 6.54998L20.0303 3.125C17.9502 1.19 15.2353 0 12.0003 0C7.31028 0 3.25527 2.69 1.28027 6.60998L5.27028 9.70498C6.21525 6.86002 8.87028 4.75 12.0003 4.75Z" fill="#EA4335" />
          <path d="M23.49 12.275C23.49 11.49 23.415 10.73 23.3 10H12V14.51H18.47C18.18 15.99 17.34 17.25 16.08 18.1L19.945 21.1C22.2 19.01 23.49 15.92 23.49 12.275Z" fill="#4285F4" />
          <path d="M5.26498 14.2949C5.02498 13.5699 4.88501 12.7999 4.88501 11.9999C4.88501 11.1999 5.01998 10.4299 5.26498 9.7049L1.275 6.60986C0.46 8.22986 0 10.0599 0 11.9999C0 13.9399 0.46 15.7699 1.28 17.3899L5.26498 14.2949Z" fill="#FBBC05" />
          <path d="M12.0004 24.0001C15.2404 24.0001 17.9654 22.935 19.9454 21.095L16.0804 18.095C15.0054 18.82 13.6204 19.245 12.0004 19.245C8.8704 19.245 6.21537 17.135 5.2654 14.29L1.27539 17.385C3.25539 21.31 7.3104 24.0001 12.0004 24.0001Z" fill="#34A853" />
        </svg>
        <span class="text-sm font-semibold leading-6">Google</span>
      </a>

      <a (click)="socialSignIn('facebook')" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:ring-transparent">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 48 48">
          <path fill="#039be5" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"></path><path fill="#fff" d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z"></path>
          </svg>
        <span class="text-sm font-semibold leading-6">Facebook</span>
      </a>
    </div>
  </div>


  <p class="mt-10 text-center text-sm text-gray-400">
    {{ 'auth.no_acc_yet' | translate }}
    <a
      routerLink="/auth/register"
      class="font-semibold leading-6 text-indigo-400 hover:text-indigo-300"
      >{{ 'auth.sign_up' | translate }}</a
    >
  </p>
</div>
